*{
    margin: 0;
    padding: 0;
}

                                                           /* CSS All Overflow,Scroll,Hidden,Auto Process Apply */
.mega_box1{
    width: 500px;
    height: 500px;
    border: 5px solid red ;
    /* overflow: hidden; */
    /* overflow: visible; */
    /* overflow: auto; */
    overflow: scroll;
    overflow-x: hidden;
}
.mega_box2{
    width: 500px;
    height: 500px;
    border: 5px solid green ;
}

.mini-box{
    width: 100px;
}

.short_text{
    /* white-space: nowrap; */
    white-space: wrap;
}